<%- include("partials/header")  %>
<div class="container">
    <h1 class="text-center my-5">Welcome to CovertO</h1>
    <div class="row">
        <div class="left col-6">
            <h2 class="text-center my-3">Album IN</h2>
            <form action="/" method="GET">
                <div class="d-flex justify-content-between align-items-center select">
                    <div class="form-group">
                        <label>From</label>
                        <select name="streamingServiceInput" class="form-control">
                            <option value="spotify">Spotify</option>
                            <option value="youtube">Youtube</option>
                        </select>
                    </div>
                    <i class="fas fa-arrow-right"></i>
                    <div class="form-group">
                        <label>To</label>
                        <select name="streamingServiceOutput" class="form-control">
                            <option>Spotify</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="link" placeholder="Playlist Link" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block">
                </div>
            </form>
            <h3 class="text-center"><%= playlist.name %></h3> 
            <div class="tracks">

                <% playlist.tracks.forEach(track => { %>
                    <div class="card bg-success my-4">
                        <div class="card-header">
                            <h4><%=track.name %></h4>
                        </div>
                        <ul class="list-group list-group-flush">
    
                        </ul>
                        <li class="list-group-item">
                            <% track.artists.forEach(artist => { %>
                                <%=artist%>, 
                            <% }) %>
                        </li>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="right col-6">
            <h2 class="text-center my-3">Album OUT</h2>
            <div class="d-flex justify-content-center flex-column text-center">
                <% if(link){ %>
                <p><a href="<%= link %>" class="btn btn-success btn-lg mx-a" target="_blanck">Go To Created Playlist</a></p>
                <%}%>
            </div>
        </div>
    </div>
</div> 

<%- include("partials/footer")  %> 
